@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #e2e5dc;
    color: #000000;
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  }
}
